<?xml version="1.0"?>
<launch>

	<!-- RVIZ STUFF -->
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find icub-ds-motion)/config/rviz/icub.rviz" />
	<node name="static_tf_pub_world_to_gazebo_world" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0  0 0 0 1 world gazebo_world" />
	<node name="robot_viz" pkg="icub-ds-motion" type="robot_viz.py"/>
	<node name="trajectory_viz" pkg="icub-ds-motion" type="trajectory_viz.py"/>	


	<include file="$(find icub-ds-motion)/launch/load_lpvDS_motionGenerator.launch">
		<arg name="DS_name" value="iCub-Linear2-Loco"/>
	</include>
	# Example Options:
  	# - iCub-Line-Loco
  	# - iCub-Linear1-Loco
  	# - iCub-Linear2-Loco
  	# - iCub-Cshape-Loco

</launch>
