<?xml version="1.0"?>
<launch>
	
	# Load yarp2ros publisher
	# ...

	# Load DS Motion Generator
	<include file="$(find icub-ds-motion)/launch/load_lpvDS_motionGenerator.launch">
		<arg name="DS_name" value="iCub-Line-Loco"/>
	</include>
	# Example Options:
  	# - iCub-Line-Loco
  	# - iCub-Linear-Loco
  	# - iCub-C-Loco


  	# Load ros2yarp streamer
  	# ...

	
</launch>
