<?xml version="1.0"?>
<launch>
	

	# Load DS Motion Generator
	<include file="$(find icub-ds-motion)/launch/load_lpvDS_motionGenerator.launch">
		<arg name="DS_name" value="iCub-Linear1-Loco"/>
	</include>
	# Example Options:
  	# - iCub-Line-Loco
  	# - iCub-Linear1-Loco
  	# - iCub-Linear2-Loco
  	# - iCub-Cshape-Loco

	
</launch>
